@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 90vh;
  background: #cfe8e8;
}

.app {
  width: 100%;
  height: 90vh;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 14px;
}

/* HERO SECTION */
.hero {
  height: 88vh;
  background: linear-gradient(
    120deg,
    #cfe9ff,
    #f3d4ff,
    #d7ffe8
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin: 40px;
}

/* CENTER CONTENT */
.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  letter-spacing: 8px;
  font-weight: 500;
}

.hero-content p {
  font-size: 14px;
  margin: 15px 0;
  opacity: 0.7;
}

.hero-content button {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  backdrop-filter: blur(10px);
}

/* BOTTOM TEXT */
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 40px;
  font-size: 12px;
  letter-spacing: 3px;
}

.bottom-right {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 12px;
  text-align: right;
  opacity: 0.6;
}

.page {
  padding: 120px;
  font-size: 24px;
}

/* GALLERY */
.gallery {
  padding: 80px 60px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}
