body {
  margin: 0;
  background: #EEF2FA;
  font-family: "Poppins", sans-serif;
}

.dashboard {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.top-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.clock {
  font-size:45px;
  color: #693B69;
}

.bottom-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stats-row {
  display: flex;
  gap: 20px;
  flex: 3;
}

.stats-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  flex: 1;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.stats-card.active {
  border: 2px solid #693B69;
}

.add-task-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  flex: 1;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.add-task-card input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
