body {
  background-color: black;
  padding: 40px;
  font-family: serif;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
}

.upper img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.lower {
  text-align: center;
  padding-top: 15px;
}

.lower h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.lower h4 {
  font-size: 14px;
  color: rgb(180, 60, 80);
  margin-bottom: 10px;
}

.lower p {
  font-size: 15px;
  color: #414141;
}
