<<<<<<< HEAD
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.card {
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

/* Upper section */
.upper {
  height: 50%;
  width: 100%;
}

.upper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Lower section */
.lower {
  height: 50%;
  width: 100%;
  padding: 20px;
}

.lower h1 {
  font-size: 45px;
}

.lower h4 {
  font-size: 18px;
  font-weight: 500;
  color: #888;
}

.lower h3 {
  font-size: 32px;
  margin-top: 30px;
  color: rgb(26, 89, 89);
=======
*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
>>>>>>> 9affd4aa17435d520dd867a61b9a8fb22e8505fa
}
