@import "tailwindcss";

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(48, 48, 48), rgb(169, 169, 169), rgba(0, 0, 0, 0.597),rgb(69, 69, 69), rgb(153, 153, 153),rgba(0, 0, 0, 0.46), rgb(58, 58, 58));
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
@keyframes marqueeOpp {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.animate-marquee-opposite{
    animation: marqueeOpp 10s linear infinite;
}

body{
    font-family: dragon;
}

.card:hover .card-frame{
    transform: rotateX(15deg);
}

.card:hover .image{
    transform: scale(1.2);
}


button,input{
    background: radial-gradient(rgb(125, 125, 125) 30%, black );
}

/* Dark theme scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1f1f1f;
}