* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

button{
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.user-card {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
}
