* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.user-card {
  height: 320px;
  width: 370px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 2rem;
}

.all-cards{
  display: flex;
  flex-wrap: wrap;
}
