body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

.nav input {
  margin-top: 10px;
  padding: 10px 40px;
  margin-right: 10px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #020617;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.details {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.center {
  text-align: center;
}
