body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #020617;
}

.nav input {
  margin-top: 14px;
  padding: 10px 40px;
  margin-right: 14px;
}

.nav h2{
  font-weight: 800;
  font-size: 25px;
  margin-left: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #020617;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 8px;

  transition: 
    transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.card:hover{
  transform: scale(0.98);
  background-color: rgb(188, 186, 186);
  color: #020617;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.details {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.center {
  text-align: center;
}
