* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

@font-face {
  font-family: Nohemi-ExtraLight;
  src: url("../Fonts/Nohemi-ExtraLight-BF6438cc57e06d5.otf");
}
@font-face {
  font-family: Nohemi-Light;
  src: url("../Fonts/Nohemi-Light-BF6438cc583f70b.otf");
}
@font-face {
  font-family: NohemI-Medium;
  src: url("../Fonts/Nohemi-Medium-BF6438cc57ddecd.woff");
}
@font-face {
  font-family: NohemI-Regular;
  src: url("../Fonts/Nohemi-Regular-BF6438cc4d0e493.ttf");
}
@font-face {
  font-family: NohemI-Semibold;
  src: url("../Fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff");
}
@font-face {
  font-family: Melody-Med;
  src: url("../Fonts/BLMelodyMono-SemiBold.otf");
}

/* main */
.main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* navbar */
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left h3 {
  font-family: NohemI-Medium;
  letter-spacing: 2px;
}

.navbar .right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .right h3 {
  font-family: Nohemi-ExtraLight;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.navbar .right h3:not(:last-child) {
  display: none;
  background-color: rgb(55, 53, 53);
  padding: 0.8rem 0.9rem;
  cursor: pointer;
}

.navbar .right h3:last-child {
  cursor: pointer;
  background-color: brown;
  padding: 0.8rem 0.9rem;
}

/* section view 1 */
.section-view1 {
  position: relative;
  width: 100%;
  height: 90vw;
  transition: all 0.6s ease;
}

.section-view1 .top {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-view1 .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.section-view1 .bottom {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  transition: all 0.6s ease;
}

.section-view1 .bottom h1 {
  font-size: clamp(1rem, 6vw, 15rem);
  font-family: "NohemI-Light";
  line-height: 1;
}

.section-view1 .bottom p {
  font-size: clamp(10px, 2vw, 1rem);
  font-family: Nohemi-ExtraLight;
  letter-spacing: 1px;
}

.section-view1 .bottom .text-2 {
  padding-left: 1rem;
}

.section-view1 .bottom .p-display-br {
  display: block;
}

.section-view1 .bottom .p-display-br2 {
  display: none;
}

/* section view 2 */
.section-view2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  transition: all 0.6s ease;
  background-color: rgb(43, 40, 40);
}

.cards h3 {
  font-family: NohemI-Light;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.cards p {
  font-family: Nohemi-ExtraLight;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.cards h4 {
  font-family: NohemI-Light;
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.cards h4 i {
  background-color: rgb(68, 67, 67);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  font-size: 0.7rem;
}

/* stats */
.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.stats {
  display: grid;
  place-items: center;
  line-height: 1.2;
  padding: 2rem 0rem;
}

.stats h4 {
  font-family: Nohemi-Light;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: grey;
}

.stats h1 {
  font-family: Melody-Med;
  color: rgba(255, 255, 255, 0.899);
}

/* section view 3 */
.section-view3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  transition: all 0.6s ease;
}

.section-view3 .right {
  width: 100%;
}

.section-view3 .right img {
  width: 100%;
}

.section-view3 .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  background-color: #1E1E1E;
  padding: 1rem;
}

.section-view3 .left h4 {
  font-family: Nohemi-Light;
  text-transform: uppercase;
}

.section-view3 .left h1 {
  line-height: 1;
  margin-bottom: 1rem;
  font-family: NohemI-Semibold;
}

.section-view3 .left p {
  font-family: Nohemi-Light;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: grey;
}

/* section view 4 */
.section-view4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.section-view4 .top,
.section-view4 .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.section-view4 img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.text-area {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.top-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #1E1E1E;
  padding: 1rem;
}

.top-text h4 {
  font-family: NohemI-Medium;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.806);
}

.desc-area {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.desc-area h4 {
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  font-family: Nohemi-Light;
}

.desc-area h4 i {
  background-color: rgb(87, 82, 82);
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.desc-area p {
  font-family: Nohemi-Light;
  letter-spacing: 1px;
  color: grey;
}

/* media queries */
@media (min-width: 600px) {
  .section-view1 .bottom {
    left: 5rem;
    bottom: 5rem;
  }
  .section-view1 .bottom .p-display-br {
    display: none;
  }
  .section-view1 .bottom .p-display-br2 {
    display: block;
  }
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .stats-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 800px) {
  .navbar .right h3:not(:last-child) {
    display: block;
  }
  .section-view3 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .section-view4 .top,
  .section-view4 .bottom {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .section-view4 .bottom .image-section {
    order: 2;
  }
}

@media (min-width: 1024px) {
  .section-view1 {
    height: 90vh;
  }
  .section-view1 .bottom {
    bottom: 8rem;
    left: 10rem;
  }
  .section-view1 .bottom h1 {
    letter-spacing: 10px;
  }
  .section-view1 .bottom .text-2 {
    padding-left: 6rem;
  }
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .cards {
    padding: 3rem;
    gap: 1.5rem;
  }
  .section-view3 .left {
    padding: 3rem;
  }
  .section-view3 .left .text p {
    font-size: 1rem;
    column-count: 2;
    text-decoration: left;
  }
}

@media (min-width: 1400px) {
  .section-view3 .left .text h1 {
    font-size: 4rem;
    padding-right: 1rem;
  }
  .section-view4 .top,
  .section-view4 .bottom {
    height: 50vh;
    grid-template-rows: 100%;
  }
  .section-view4 .top .image-section,
  .section-view4 .top .text-area,
  .section-view4 .bottom .image-section,
  .section-view4 .bottom .text-area {
    height: 100%;
    width: 100%;
  }
  .section-view4 .top .image-section img,
  .section-view4 .bottom .image-section img {
    height: 100%;
  }
  .section-view4 .top .text-area .top-text,
  .section-view4 .bottom .text-area .top-text {
    justify-content: space-between;
    gap: 0rem;
    padding: 3rem;
    height: 100%;
  }
  .section-view4 .top .text-area .top-text .desc-area,
  .section-view4 .bottom .text-area .top-text .desc-area {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
  }
}
