.nav {
  height: 80px;
  background-color: #1e9c8b;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
}

.footer {
  height: 80px;
  background-color: #163f4a;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
}
